@import 'styles/variables.scss';

.info-item {
  display: flex;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.item-label {
  color: $fontColor-4;
  line-height:20px;
  width: 154px;
}
.item-content {
  flex: 1;
  color: $fontColor-3;
  line-height:20px;
}